@mixin titles(){
    font-weight: 600;
    color: #253347;
}

.header{
    width: 972px;
    display: flex;
    padding: 75px 397px 196px 116px;
    margin-right: 24px;
    border-radius: 0px 0px 35px 35px;
    background-image: linear-gradient(90deg, #fff, #D6E6FE );

    img{
        width: 64px;
    }

    
    @media (max-width: 1439px){
        width: 100%;
        flex-direction: column;
        padding: 32px 43px 326px 39px;
    }
    
    &Mensage{
        flex-direction: column;
        @media(max-width: 1439px){
            text-align: center;
        }
    }

    &Title{
        @include titles();
        margin: 127px 0 35px;
        font-size: 64px;
        letter-spacing: -3.2px;

        @media (max-width: 1439px){
            font-size: 48px;
            margin: 24px 0;
        }
    }

    &Text{
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        color: #5E6E85;
    }

    &Calc{
        width: 564px;
        display: flex;
        flex-direction: column;
        gap: 33px;
        padding: 32px;
        border-radius: 16px;
        position: absolute;
        left: 736px;
        top: 170px;
        background-color: #fff;
        box-shadow: 16px 32px 56px 0px #D6E6FE;

        @media (max-width: 1439px){
            width: 686px;
            left: 0;
            top: 354px;
            margin: 0 40px;
        }

        @media (max-width:767px){
            width: 100%;
            margin: 0;
            top: 475px;
        }

        @media(max-width: 400px){
            top: 525px;
        }

        &Title{
            @include titles();
            font-size:24px;
        }

        &Form{
            display: flex;
            gap: 165px;

            @media(max-width: 767px){
                gap: 53px;
            }

            div{
                display: flex;
                align-items: center;
                cursor: pointer;

                input{
                    cursor: pointer;
                    width: 31px;
                    height: 31px;
                }

                label{
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }

        &Options{
            @include titles();
            font-size: 16px;
            margin-left: 18px;
        }

        &Inputs{
            &Group{
                display: flex;
                align-items: center;
                border: 1px solid #D8E2E7;
                border-radius: 12px;
                width: 238px;
                margin-top: 8px;
                cursor: pointer;
                font-size: 24px;
                font-weight: 600;
                font-size: 24px;
                font-weight: 600;

                @media (max-width:767px){
                    width: 100%;
                }

                &:hover{
                    border-color: #345FF6;
                }

                label{
                    color: #345FF6;
                    padding-right: 24px;
                    cursor: pointer;
                }
            }

            &Metric{
                display: flex;
                gap: 24px;

                @media (max-width:767px){
                    flex-direction: column;
                }
            }

            &Imperial{
                display: flex;
                flex-direction: column;
                gap: 24px;

                &Input{
                    display: flex;
                    gap: 24px;
                }
            }

            p{
                color: #5E6E85;
                font-size: 14px;
            }

            input{
                width: 100%;
                border: none;
                border-radius: 12px;
                font-size: 24px;
                cursor: pointer;
                @include titles();
                padding: 20px 24px;
                

                &:focus{
                    outline: 0;
                }

                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
            }

            span{
                position: absolute;
                top: 50%;
                right: 10px; /* Posicionamento no canto direito */
                transform: translateY(-50%);
                pointer-events: none;
                color: #999;
            }
        }

        &Results{
            padding: 32px;
            border-radius: 16px 999px 999px 16px;
            color: #fff;
            background-image: linear-gradient(90deg, #345FF6, #587DFF);

            @media (max-width:768px){
                border-radius: 16px;
            }

            &Welcome{
                display: flex;
                flex-direction: column;
                gap: 16px;

                h3{
                    font-size: 24px;
                }

                p{
                    font-size: 14px;
                }
            }

            &IMC{
                display: flex;
                gap: 98px;
                align-items: center;

                h4{
                    font-size: 16px;
                }

                h3{
                    font-size: 64px;
                }

                p{
                    font-size: 14px;
                }

                @media (max-width:768px){
                    flex-direction: column;
                    gap: 24px;
                    align-items: start;
                }
            }
        }
    }
}